#menuBar{
    -fx-background-color: #000000;
    -fx-pref-width: 1200px;
    -fx-pref-height: 50px;
}
#mainBar{
    -fx-background-color: #61A6CD;
    -fx-pref-width: 1200px;
    -fx-pref-height: 150px;
}
#mainPane{
    -fx-background-color: #F0FAFB;
    -fx-pref-width: 1200px;
    -fx-pref-height: 600px;
}
.menuButton{
    -fx-background-color:transparent;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-line-height: 54px;
    -fx-text-align: center;
    -fx-text-fill: #FFFFFF;
}

.menuLabel{
    -fx-position: absolute;
    -fx-width: 48px;
    -fx-height: 24px;
    -fx-left: 305px;
    -fx-top: 240px;

    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-line-height: 54px;
    -fx-text-align: center;
    -fx-text-fill: #FFFFFF;
}

.moused-moved:hover{
    -fx-background-color: #E4E4E4;
}
#WebsiteName{
    -fx-position: absolute;
    -fx-width: 181px;
    -fx-height: 54px;
    -fx-left: 305px;
    -fx-top: 240px;

    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 36px;
    -fx-line-height: 54px;

    -fx-text-fill: #FFFFFF;
}

#message{
    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 14px;
    -fx-line-height: 54px;

    -fx-text-fill: #FFFFFF;
}

#searchBar{
    -fx-pref-width: 380px;
    -fx-pref-height: 27px;
    -fx-background-color: white;
    -fx-border-radius: 5px
}

#searchButton{
    -fx-pref-height: 27px;
    -fx-background-color: #FDDD36;
}

.window
{
    -fx-background-color: white;
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-opacity: 10;
    -fx-gap: 10;
}
#prompt_label
{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}
#cancelButtonLog, #yesButton{
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-min-width: 150px;
    -fx-max-height: 40px;
    -fx-padding: 4px 33px, 4px 33px;
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-opacity: 10;
    -fx-gap: 10;
}

