.table-view{
    -fx-background-color:#FFFFFF ;
}
#Action, #NameColumn, #DateColumn,#PatientContactNumber, #DescriptionColumn, #AdditionalNoteColumn, #MoneyPayColumn, #laboratoryIdColumn, #contactNumberColumn, #AddressPatient, #QuantityColumn, #DateLaboColumn, #PatientName{
    -fx-font-size: 20px;
}
.table-view .column-header{
    -fx-background-color: #A9D8C7;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: 24px;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header-background.label{
    -fx-text-fill: white;
}
.table-row-cell{
    -fx-background-color: white;
}
.table-row-cell-odd{
    -fx-background-color:#F7F6FE;
}

.largeLabel{
    -fx-text-fill: #314D6E;
    -fx-font-family: 'Poppins';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 30px;
}
